/*------------------------------------*\
  #Сортировка
\*------------------------------------*/

.sorting {

    &__btn {
        border: none;
        background-color: transparent;
        color: $textcolor;
        cursor: pointer;

        &:hover,
        &:focus {
            color: $accent;
        }
    }

    &__btn--disabled {
        color: $gray;
        cursor: default !important;

        &:hover, 
        &:focus {
            color: $gray;
        }
    }
}