.articles-page {
    display: flex;
    align-items: flex-start;    

    &__sidebar {
        width: 300px;
        min-width: 300px;
        margin-top: 30px;
        margin-left: 65px;

        @media (max-width: 1366px) {
            margin-left: 40px;
        }

        @media (max-width: 992px) {
            display: none;
        }
    }
}
