/*------------------------------------*\
  #Форма личного кабинета
\*------------------------------------*/

.form-private {

    .input-wrap {
        margin-bottom: 13px;
    }

    .row-margin-big {
        margin-bottom: 32px;

        @media (max-width: 991px) {
            margin-bottom: 0;
        }
    }

    .confirm {
        margin-top: 25px;

        @media (max-width: 1199px) {
            margin-top: 0;
            margin-bottom: 12px;
        }



        &__btn {
            font-size: 14px;
        }
    }

    &__btn {
        margin-top: 35px;
    }

    &__group {
        margin-bottom: 70px;

        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    &__group-title {
        margin-bottom: 16px;
        font-family: $userfont-bold;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
    }

    &__group-title--sm {
        margin-bottom: 13px;
        font-size: 18px;
        line-height: 25px;
    }

    &__sub-group {
        @media (max-width: 991px) {
            margin: 10px 0;
        }
    }

    &__mob-last {
        @media (max-width: 1199px) {
            order: 99;
        }
    }
}

.page-promo {
    .table {
        max-width: 765px;
    }
}