/*------------------------------------*\
  #Таблица
\*------------------------------------*/

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: transparent;
    overflow-x: visible;
    cursor: default;

    &__responsive {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        overflow-y: auto;
        border-radius: $border-radius;
    }

    &__td,
    &__th {
        padding: 10px 20px;
    }

    &__th {
        vertical-align: bottom;
    }

    &__th-sorting {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .sorting {
            margin-left: 15px;
        }
    }


    &__th-sorting--chevron {
        position: relative;
        display: flex;
        align-items: baseline;
    }

    .icon-sorting {
        position: relative;

        &::before {
            position: absolute;
            top: -11px;
            font-size: 12px;
            transition: all .3s linear;
        }

        &.active::before {
            transform: rotate( -180deg );
        }
    }

    &__td {
        height: 60px;
        border-top: 1px solid $gray;
    }

    &__td--nowrap {
        white-space: nowrap;
    }

    &__message--succes {
        color: $color-succes;
    }

    .icon {
        border: none;
        background-color: transparent;
        font-size: 20px;
        color: $gray;
    }

    .checkbox__value {
        padding-left: 30px;
    }
}




/*------------------------------------*\
  #Таблица - простая (без рамок)
\*------------------------------------*/

.table--empty {
    .table__td {
        border: none;
    }
}





/*------------------------------------*\
  #Таблица - полосатая
\*------------------------------------*/

.table-striped {

    .table__tr:nth-of-type(odd) {
        background-color: $white;
    }
}





/*------------------------------------*\
  #Таблица - с рамкой
\*------------------------------------*/

.table-border {
    border: 1px solid $gray;

    .table__td:last-child {
        border-left: 1px solid $gray;
    }

    .table__th {
        background-color: #ffffff;

        &:last-child {
            border-left: 1px solid $gray;
        }
    }
}
