/*------------------------------------*\
  #Цвета текста
\*------------------------------------*/

.text-gray {
    color: $gray;
}

.text-accent {
    color: $accent;
}

.text-second {
    color: $color-second;
}

.text-tertiary {
    color: $color-tertiary;
}





/*------------------------------------*\
  #Маркеры
\*------------------------------------*/
.mark-accent {
    color: #ffffff;
    background-color: $accent;
}

.mark-second {
    color: #ffffff;
    background-color: $color-second;
}

.mark-tertiary {
    color: #ffffff;
    background-color: $color-tertiary;
}





/*------------------------------------*\
  #Виды текста
\*------------------------------------*/

.muted-text {
    font-size: 14px;
    line-height: 16px;
    color: $gray;
    margin: 0;

    + .muted-text {
        margin-top: 8px;
        margin-bottom: 0;
    }
}